html{
  font-family: sans-serif;
}

body{
  background-color: #dcf7fe;
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 65px;
  text-decoration: underline;
}
form{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

label{
  font-size: 20px;
  margin-left: 2%;
}
input{
  height: 30px;
  border-radius: 5px;
  margin-bottom: 1%;
  border: none;
  font-size: 16px;
}

textarea{
  height: 200px;
  border-radius: 5px;
  margin-bottom: 2%;
  border: none;
  font-size: 15px;
}

button{
  width: 30%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #c2f2ff;
  box-shadow: 0px 0px 15px #959595;
  border: none;
  transition: .3s all ease-in-out;
  font-size: 20px;
}
button:hover{
	transform: scale(1.1);
	border: none;
	box-shadow: 2px 2px 4px  grey;
	transition: .3s all ease-in-out;
}

p{
  display: flex;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  body{
    background-color: #dcf7fe;
    display: flex;
    flex-direction: column;
  }

  h1{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 85px;
    text-decoration: underline;
  }
  form{
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  label{
    font-size: 30px;
    margin-left: 2%;
  }
  input{
    height: 65px;
    border-radius: 5px;
    margin-bottom: 1%;
    border: none;
    font-size: 20px;
  }

  textarea{
    height: 400px;
    border-radius: 5px;
    margin-bottom: 2%;
    border: none;
    font-size: 20px;
  }

  button{
    width: 42%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #c2f2ff;
    border: none;
    box-shadow: 0px 0px 15px #959595;
    transition: .3s all ease-in-out;
    font-size: 30px;
  }
  button:hover{
  	transform: scale(1.1);
  	border: none;
  	box-shadow: 2px 2px 4px  grey;
  	transition: .3s all ease-in-out;
  }

  p{
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 25px;
  }

}
